@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway-v19-latin-regular.ttf") format("truetype");
  /* src: local("./fonts/raleway-v19-latin-regular.ttf") format("truetype"); */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway-bold.ttf") format("truetype");
  /* src: local("./fonts/raleway-bold.ttf") format("truetype"); */
  font-weight: bold;
  font-style: normal;
}

/* Eléments principaux de la page */
:root {
  --noir: #181818;
  --fond_gris: #f2f2f2;
  --bleu: #0065fc;
  --bleu_clair: #deebff;
  --border-radius: 10px;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* iPhone 6/7/8 et Plus- @media screen and (min-width: 375px) */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
  /* font-family: "Raleway"; */
  color: var(--noir);
}

#bloc_page {
  margin: 0 auto;
  max-width: 1280px;
}

h1,
h2 {
  margin-top: 1rem;
}

#activites h2 {
  padding-left: 10px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4rem;
}

#footer h3 {
  font-size: 1.2rem;
}

.footer > ul > li {
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header > a {
  margin-right: 16px;
  align-self: center;
  text-align: right;
  text-decoration: none;
  color: var(--bleu);
  font-weight: bold;
  font-size: 0.9rem;
}

.logo {
  margin-top: 0;
  margin-left: 1em;
  margin-right: auto;
}

nav {
  flex-basis: 100%;
  margin-top: 10px;
  width: 100%;
  order: 1;
}

nav ul {
  padding: 0;
  display: flex;
  list-style-type: none;
}

nav li {
  width: 50%;
  text-align: center;
}

nav a {
  display: block;
  padding-top: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(190, 190, 190, 0.3);
  text-decoration: none;
  color: var(--noir);
  width: 100%;
}

nav a:hover {
  padding-top: 0;
  border-top: initial;
  color: var(--bleu);
  border-bottom: 3px solid var(--bleu);
}

/* Images background hébergements*/
.image1 {
  background: url(images/hebergements/lacannebiere.jpg);
}
.image2 {
  background: url(images/hebergements/hotelduport.jpg);
}
.image3 {
  background: url(images/hebergements/lesmouettes.jpg);
}
.image4 {
  background: url(images/hebergements/hoteldelamer.jpg);
}
.image5 {
  background: url(images/hebergements/lepanier.jpg);
}
.image6 {
  background: url(images/hebergements/chezamina.jpg);
}
.image7 {
  background: url(images/hebergements/soleildumatin.jpg);
}
.image8 {
  background: url(images/hebergements/aucoeurdeleau.jpg);
}
.image9 {
  background: url(images/hebergements/toutbleuetblanc.jpg);
}

/* Images background activités*/
.imageActivite1 {
  background: url(images/activites/vieuxport.jpg);
}
.imageActivite2 {
  background: url(images/activites/pomegues.jpg);
}
.imageActivite3 {
  background: url(images/activites/frioul.jpg);
}
.imageActivite4 {
  background: url(images/activites/calanques.jpg);
}
.imageActivite5 {
  background: url(images/activites/lagarde.jpg);
}
.imageActivite6 {
  background: url(images/activites/longchamp.jpg);
}

.imageCanvas.imgheb {
  height: 105px;
}
.imageCanvas {
  background-size: cover;
  background-position: center;
  height: 130px;
  border-radius: 25px 25px 0 0;
}
.imageCanvasFeatured {
  background-size: cover;
  background-position: center;
  height: 130px;
  min-width: 40%;
  border-radius: 25px 0 0 25px;
}

/* Section Recherche */
#search {
  margin: 0 15px 15px 15px;
}

#search p {
  font-size: 1rem;
}

#footer,
#lateral {
  background-color: var(--fond_gris);
}

#lateral {
  padding: 0 10px 25px 10px;
}

#search {
  display: flex;
  flex-direction: column;
}

.localIcone {
  background-color: var(--fond_gris);
  padding: 1em;
  border-radius: 15px 0 0 15px;
}

#first_p {
  margin: 3px 0 10px;
}

.searchIcone {
  background-color: var(--bleu);
  padding: 1em;
  border-radius: 0 15px 15px 0;
  color: #fff;
}

#filtre {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#titre_filtre {
  margin: 10px 0 5px;
  font-size: 1rem;
  font-weight: bold;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 2px solid var(--fond_gris);
  margin-top: 10px;
  margin-bottom: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.tagFiltre {
  padding: 10px 20px 10px 12px;
  width: 46px;
  height: 46px;
  border: 2px solid #deebff;
  border-radius: 25px;
  color: var(--bleu);
  background-color: #deebff;
}

.tagFiltre:hover {
  border-color: var(--bleu);
}

.tagtxt {
  margin: 0 15px;
  font-weight: bold;
}

.searchInfo {
  display: flex;
  align-items: center;
}

.searchInfo .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  padding: 10px;
  color: var(--bleu);
  border: 1px solid var(--fond_gris);
  border-radius: 25px;
}

p.searchInfo {
  margin: 27px 0;
}

/* Section: Hébergements */
main {
  margin: 0;
}

#hebergements {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  justify-content: space-between;
}

#principale {
  padding: 20px 10px 15px 10px;
}

#principale h2 {
  padding-left: 10px;
}

#lateral {
  display: flex;
  flex-direction: column;
}

/* Section Activités */
#activites {
  padding: 20px 10px 35px 10px;
}

#liste_activites {
  display: flex;
  flex-direction: column;
}

/* Pied de page */
#footer {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 20px;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer a {
  font-size: 1rem;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

/* Personnalisations secondaires */
.text h3 {
  margin-bottom: 5px;
  padding-right: 10px;
  font-size: 1rem;
}

.text span {
  color: #0065fc;
}

.gray {
  color: #f2f2f2;
}

.featuredTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px 0 10px;
}

.featuredTitle .fas {
  font-size: 1.5rem;
}

.featuredTitle h2 {
  margin-top: 25px;
}

.searchBar {
  display: flex;
  height: 50px;
  margin: 25px 0;
}

.locationIcon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 10px 13px;
  width: 60px;
  border: 1px solid var(--fond_gris);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--fond_gris);
}

.searchBar input[type="search"] {
  margin: 0;
  padding: 10px;
  border-top: 1px solid var(--fond_gris);
  border-right: 0;
  border-bottom: 1px solid var(--fond_gris);
  border-left: 0;
  font-weight: bold;
  width: 100%;
}

.searchBar button {
  padding: 10px 13px;
  background-color: var(--bleu);
  border: 1px solid var(--bleu);
  border-radius: var(--border-radius);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.searchIcon,
.locationIcon,
.searchBar input[type="search"],
.searchBar button span {
  font-size: 1.2rem;
  font-family: "Raleway", Arial, sans-serif;
}

.searchBar button span {
  display: none;
}

.searchIcon {
  visibility: visible;
  width: initial;
}

.tagFiltre {
  font-size: 1.2rem;
}

.fa-star {
  font-size: 0.7rem;
}

.propriete,
.propriete_feat,
.activite {
  display: contents;
  color: #000;
  text-decoration: none;
}

.activite {
  margin: 1rem;
}

.card {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 25px;
  padding: 5px;
}

.card img {
  max-width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card .text {
  padding: 0 20px 5px;
}

.card h4,
.card p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.card_featured {
  display: flex;
}

.card_featured .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_featured img {
  max-width: 40%;
  border-top-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 25px;
}

.card_featured p {
  margin-top: 0;
  margin-bottom: 0;
}

.card_activite {
  padding: 0;
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card_activite img {
  width: 100%;
}

.card_activite .text {
  padding: 5px 0 15px 18px;
}

.duo {
  display: flex;
  flex-direction: column;
}

.duo .card {
  width: auto;
}

#afficherplus {
  display: inline-block;
  margin-right: auto;
  padding: 23px 0 0 10px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

/* ************************************************************ */
/* MD: Tablette iPad */
@media screen and (min-width: 768px) {
  header {
    margin-top: 0;
    padding-top: 0;
  }

  main,
  header,
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  header > a {
    align-self: center;
    text-align: right;
    order: 1;
    padding-top: 8px;
  }

  nav {
    flex-basis: 40%;
    margin-top: 0;
  }

  nav ul {
    margin-top: 0;
    padding: 0;
  }

  nav li {
    text-align: center;
  }

  nav a {
    padding-top: 20px;
    padding-bottom: 0;
    border-top: 3px solid var(--fond_gris);
    border-bottom: none;
  }

  nav a:hover {
    padding-top: 20px;
    border-top: 3px solid var(--bleu);
    border-bottom: none;
    font-weight: bold;
  }

  /* Barre de recherche */
  #search {
    margin-top: 35px;
  }

  #search h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  #search p {
    margin-top: 8px;
    font-size: 2rem;
  }

  #search p.searchInfo {
    margin-top: 30px;
  }

  .locationIcon {
    padding: 10px 16px;
  }

  .searchBar button span {
    display: block;
  }

  .searchBar button i {
    display: none;
  }

  /* Filtres */
  #titre_filtre {
    margin-right: 1em;
  }

  .tagtxt {
    font-size: 1rem;
  }

  /* Hébergements */
  #hebergements {
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
  }

  #lateral {
    flex: 0 0 33vw;
    padding-top: 20px;
  }

  #principale,
  #lateral {
    background-color: var(--fond_gris);
    border-radius: 25px;
  }

  #liste_hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 0;
  }

  #featured {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }

  #principale h2,
  #lateral h2,
  #activites h2 {
    font-size: 1.2rem;
    font-weight: bolder;
  }

  #principale h2 {
    padding-left: 12px;
  }

  #activites h2 {
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #lateral {
    margin-left: 18px;
  }

  .featuredTitle {
    margin: 0 11px 0 11px;
    padding: 0;
  }

  .featuredTitle h2 {
    margin: 16px 0;
  }

  #hebergements .card .text {
    padding: 0 0 15px 8px;
  }

  .card.md {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    width: 44%;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
  }

  .card img {
    max-width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .card .text {
    padding: 0 5px 5px 5px;
  }

  .text h3 {
    padding-right: 0;
    font-size: 1rem;
  }

  #activites .text h3 {
    padding-right: 0;
    font-size: 0.8rem;
  }

  .card h4,
  .card p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card_featured {
    width: 100%;
    display: flex;
  }

  .card_featured .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card_featured img {
    max-width: 40%;
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
  }

  .card_featured p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .imageCanvas.imgheb {
    height: 90px;
  }

  .imageCanvasFeatured {
    height: 140px;
    min-width: 30%;
  }

  #afficherplus {
    margin-left: 10px;
  }

  /* Activités */
  #liste_activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .activite {
    margin: 0;
  }

  .solo {
    height: 333px;
  }

  #activites .duo article {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .duo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 23%;
  }

  .duo .imageCanvas {
    height: 120px;
  }

  .duo .imageCanvas.imageActivite2 {
    height: 155px;
  }

  .duo .imageCanvas.imageActivite3 {
    height: 90px;
  }

  .duo .imageCanvas.imageActivite5 {
    height: 115px;
  }

  .duo .imageCanvas.imageActivite6 {
    height: 130px;
  }

  .duo > .card {
    width: auto;
  }

  .searchBar input[type="search"] {
    width: 30%;
    font-size: 1rem;
  }

  #search p {
    font-size: 1rem;
  }
  #search h1 {
    font-size: 1.5rem;
  }

  #activites {
    padding-left: 10px;
    padding-right: 10px;
  }

  #activites .card {
    padding: 0;
    margin: 0;
    width: 23%;
  }

  .card_activite .text {
    min-height: 68px;
    padding: 10px 10px;
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .footer {
    flex: 1;
  }

  #footer h3 {
    font-size: 1.1rem;
  }

  #footer a {
    font-size: 0.9rem;
  }
}

/* ************************************************************ */
/* LG: Desktop - max-width: 1280px */
@media screen and (min-width: 1280px) {
  #bloc_page {
    max-width: 1440px;
  }

  main,
  header,
  section {
    padding-left: 40px;
    padding-right: 40px;
  }

  header {
    align-items: flex-end;
    height: 90px;
  }

  header a {
    padding-top: 27px;
  }

  nav {
    height: 90px;
  }

  nav > ul {
    height: 90px;
  }

  nav > ul > li {
    width: 40%;
  }

  nav > ul > li > a {
    padding: 45px;
  }

  nav > ul > li > a:hover {
    padding: 45px;
  }

  .searchBar {
    margin-top: 10px;
  }

  .searchBar input[type="search"] {
    width: 23%;
  }

  #filtre {
    flex-direction: row;
    align-items: baseline;
  }

  #hebergements {
    flex-direction: row;
  }

  #hebergements h3 {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  #principale h2 {
    padding-left: 20px;
  }

  #principale h2,
  #lateral h2,
  #activites h2 {
    font-size: 1.4rem;
  }

  .featuredTitle {
    margin-left: 19px;
    margin-right: 19px;
  }

  #principale {
    width: 100%;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #liste_hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 0;
  }

  #lateral {
    flex: 0 0 25vw;
  }

  #featured {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }

  #liste_hebergements .imageCanvas {
    height: 110px;
  }

  .text h3,
  #activites .text h3 {
    padding-right: 0;
    font-size: 1rem;
  }

  .card.md {
    width: 29%;
  }

  .card img {
    max-width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .card .text {
    padding: 10px 10px 15px;
  }

  .card_featured {
    width: 100%;
    display: flex;
  }

  .card_featured .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card_featured img {
    max-width: 40%;
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
  }

  .card_featured p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .imageCanvasFeatured {
    height: 130px;
    min-width: 40%;
  }

  .solo {
    height: 385px;
  }

  .duo .imageCanvas.imageActivite2 {
    height: 170px;
  }

  .duo .imageCanvas.imageActivite3 {
    height: 115px;
  }

  .duo .imageCanvas.imageActivite5 {
    height: 130px;
  }

  .duo .imageCanvas.imageActivite6 {
    height: 155px;
  }

  #footer {
    padding-left: 50px;
  }
}

/*  */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card:hover {
    border: 2px solid;
    border-color: var(--bleu_clair);
  }

  #lateral .text h3 {
    padding-right: 0;
    font-size: 0.9rem;
  }
}
